
Project Objectives

Analyzing data on the Aviation_Data.csv dataset in order to help the company decide which type of aircrafts to purcahse for commercial and private enterprises.

Identifying the top aircrafts mostly used  in the aircraft  industry and how low risks they have.

Identifying the best performing aircraft that are currently doing well and have low risks for the company to purchase.

In [15]:

# Importing Necessary python Libraries 
import pandas as pd 
import numpy as np
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [16]:
# Accessing our dataframe
# df.head() gives an output of 5 rows by defalution_Data.csv')
df = pd.read_csv("Aviation_Data.csv")
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [17]:
# Accessing the last 5 rows in the the dataframe
df.tail ()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [18]:
# checking the shape of our dataframe 
df.shape

(90348, 31)

In [19]:
# Checking the columns of the dataframe 
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [20]:
# Accesing summarised information of the dataset 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [21]:
# Checking for duplicated values in our dataset 
df.duplicated().sum()

1390

In [22]:
# Dropping duplicated values 
df.drop_duplicates(inplace=True)

In [23]:
# Checking if the duplicated values have been dopped 
df.duplicated().sum()

0

In [24]:
# checking the shape of our dataset after dropping the duplicated values 
df.shape

(88958, 31)

In [25]:
# checking for numbe of missing values per column
df.isnull().sum()

Event.Id                     69
Investigation.Type            0
Accident.Number              69
Event.Date                   69
Location                    121
Country                     295
Latitude                  54576
Longitude                 54585
Airport.Code              38709
Airport.Name              36168
Injury.Severity            1069
Aircraft.damage            3263
Aircraft.Category         56671
Registration.Number        1386
Make                        132
Model                       161
Amateur.Built               171
Number.of.Engines          6153
Engine.Type                7146
FAR.Description           56935
Schedule                  76376
Purpose.of.flight          6261
Air.carrier               72310
Total.Fatal.Injuries      11470
Total.Serious.Injuries    12579
Total.Minor.Injuries      12002
Total.Uninjured            5981
Weather.Condition          4561
Broad.phase.of.flight     27234
Report.Status              6450
Publication.Date          15299
dtype: int64

In [26]:
#Numerical description of the dataset 
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [27]:
# Checking the proportionality of missing values 
df.isna().mean()

Event.Id                  0.000776
Investigation.Type        0.000000
Accident.Number           0.000776
Event.Date                0.000776
Location                  0.001360
Country                   0.003316
Latitude                  0.613503
Longitude                 0.613604
Airport.Code              0.435138
Airport.Name              0.406574
Injury.Severity           0.012017
Aircraft.damage           0.036680
Aircraft.Category         0.637053
Registration.Number       0.015580
Make                      0.001484
Model                     0.001810
Amateur.Built             0.001922
Number.of.Engines         0.069167
Engine.Type               0.080330
FAR.Description           0.640021
Schedule                  0.858562
Purpose.of.flight         0.070382
Air.carrier               0.812856
Total.Fatal.Injuries      0.128937
Total.Serious.Injuries    0.141404
Total.Minor.Injuries      0.134918
Total.Uninjured           0.067234
Weather.Condition         0.051271
Broad.phase.of.flight     0.306144
Report.Status             0.072506
Publication.Date          0.171980
dtype: float64

DATA CLEANING AND ANALYSIS

---

In [28]:
# dropping irrelevent columns 
columns_to_drop = [
    'Latitude',
    'Longitude',
    'FAR.Description',
    'Schedule',
    'Air.carrier',
    'Airport.Name',
    'Airport.Code',
    'Registration.Number',
    'Event.Id',
    
    'Publication.Date',
    'Investigation.Type',
    'Accident.Number'
    
    

]
df.drop(columns=columns_to_drop, inplace=True)
df.shape

(88958, 19)

In [29]:
# Feeling in the missing values of the relevant columns 
df['Total.Uninjured'] = df['Total.Uninjured'].fillna(df['Total.Uninjured'].mean())
df['Total.Fatal.Injuries'] = df['Total.Fatal.Injuries'].fillna(df['Total.Fatal.Injuries'].mean())
df['Total.Serious.Injuries'] = df['Total.Serious.Injuries'].fillna(df['Total.Serious.Injuries'].mean()) 
df['Total.Minor.Injuries'] = df['Total.Minor.Injuries'].fillna(df['Total.Minor.Injuries'].mean())


df['Event.Date'] = df['Event.Date'].fillna('unknown')
                                                        

df['Injury.Severity'] = df['Injury.Severity'].fillna(0)
df['Aircraft.Category'] = df['Aircraft.Category'].fillna('unspecified')
df['Amateur.Built'] = df['Amateur.Built'].fillna(0)
df['Number.of.Engines'] = df['Number.of.Engines'].fillna(df['Number.of.Engines'].mean())
df['Engine.Type'] = df['Engine.Type'].fillna(0)
df['Purpose.of.flight'] = df['Purpose.of.flight'].fillna(0)
df['Weather.Condition'] = df['Weather.Condition'].fillna(0) 

df['Model'] = df['Model'].fillna(0)
df['Location'] = df['Location'].fillna(0)
df['Make'] = df['Make'].fillna(0)

df['Country'] = df['Country'].fillna(0)
df['Report.Status'] = df['Report.Status'].fillna(0)
df['Aircraft.damage'] = df['Aircraft.damage'].fillna(0)
df['Make'] = df['Make'].fillna(0)
print(df)

       Event.Date         Location        Country Injury.Severity  \
0      1948-10-24  MOOSE CREEK, ID  United States        Fatal(2)
1      1962-07-19   BRIDGEPORT, CA  United States        Fatal(4)
2      1974-08-30    Saltville, VA  United States        Fatal(3)
3      1977-06-19       EUREKA, CA  United States        Fatal(2)
4      1979-08-02       Canton, OH  United States        Fatal(1)
...           ...              ...            ...             ...
90343  2022-12-26    Annapolis, MD  United States           Minor
90344  2022-12-26      Hampton, NH  United States               0
90345  2022-12-26       Payson, AZ  United States       Non-Fatal
90346  2022-12-26       Morgan, UT  United States               0
90347  2022-12-29       Athens, GA  United States           Minor

      Aircraft.damage Aircraft.Category                        Make  \
0           Destroyed       unspecified                     Stinson
1           Destroyed       unspecified                       Piper
2           Destroyed       unspecified                      Cessna
3           Destroyed       unspecified                    Rockwell
4           Destroyed       unspecified                      Cessna
...               ...               ...                         ...
90343               0       unspecified                       PIPER
90344               0       unspecified                    BELLANCA
90345     Substantial          Airplane  AMERICAN CHAMPION AIRCRAFT
90346               0       unspecified                      CESSNA
90347               0       unspecified                       PIPER

           Model Amateur.Built  Number.of.Engines    Engine.Type  \
0          108-3            No           1.000000  Reciprocating
1       PA24-180            No           1.000000  Reciprocating
2           172M            No           1.000000  Reciprocating
3            112            No           1.000000  Reciprocating
4            501            No           1.146585              0
...          ...           ...                ...            ...
90343  PA-28-151            No           1.146585              0
90344       7ECA            No           1.146585              0
90345      8GCBC            No           1.000000              0
90346       210N            No           1.146585              0
90347  PA-24-260            No           1.146585              0

      Purpose.of.flight  Total.Fatal.Injuries  Total.Serious.Injuries  \
0              Personal                   2.0                0.000000
1              Personal                   4.0                0.000000
2              Personal                   3.0                0.279881
3              Personal                   2.0                0.000000
4              Personal                   1.0                2.000000
...                 ...                   ...                     ...
90343          Personal                   0.0                1.000000
90344                 0                   0.0                0.000000
90345          Personal                   0.0                0.000000
90346          Personal                   0.0                0.000000
90347          Personal                   0.0                1.000000

       Total.Minor.Injuries  Total.Uninjured Weather.Condition  \
0                  0.000000          0.00000               UNK
1                  0.000000          0.00000               UNK
2                  0.357061          5.32544               IMC
3                  0.000000          0.00000               IMC
4                  0.357061          0.00000               VMC
...                     ...              ...               ...
90343              0.000000          0.00000                 0
90344              0.000000          0.00000                 0
90345              0.000000          1.00000               VMC
90346              0.000000          0.00000                 0
90347              0.000000          1.00000                 0

      Broad.phase.of.flight   Report.Status
0                    Cruise  Probable Cause
1                   Unknown  Probable Cause
2                    Cruise  Probable Cause
3                    Cruise  Probable Cause
4                  Approach  Probable Cause
...                     ...             ...
90343                   NaN               0
90344                   NaN               0
90345                   NaN               0
90346                   NaN               0
90347                   NaN               0

[88958 rows x 19 columns]